.notif-banner {
  width: 100%;
  min-height: 50px;
  color: rgba(0,0,0,.9);
  background: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: bold;
  font-size: 20px;
  text-align: center;

  a {
    margin-left: 20px;
  }
}

header {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, @color-primary-dark, @color-primary);
  box-sizing: border-box;
  padding: 0 100px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;

  display: grid;
  grid-template-rows: 200px auto;
  overflow: hidden;

  .page {
    display: flex;
    flex-direction: column;
  }

  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    height: 200px;
    align-items: center;

    &__logo {
      height: 80px;
      width: 80px;
    }

    &__mobile-menu {
      display: flex;
      transition: all 500ms;
    }

    &__pull-right {
      display: flex;
      margin-left: auto;

      & li a {
        font-size: 25px;
        margin-right: 0;
        margin-left: 60px;
      }
    }

    a {
      color: @color-link-secondary;
      font-size: 18px;
      margin-right: 60px;

      &.highlighted {
        opacity: 1;
        font-weight: bold;
      }
    }
  }

  nav {
    position: relative;
  }

  .menu-icon {
    width: 20px;
    height: 19px;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    z-index: 10;
    display: none;
    cursor: pointer;

    span {
      color: @color-link-secondary;
      font-size: 25px;
      position: absolute;
      top: -7px;
      left: -90px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #fff;
      transform-origin: 0 0;
      transition: transform 300ms ease-out;
    }

    &__middle {
      position: absolute;
      top: 8px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #fff;
      transform-origin: 0 50%;
      transition: all 300ms ease-out;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 20px;
      height: 2.9px;
      background-color: #fff;
      transform-origin: 0 100%;
      transition: transform 300ms ease-out;
    }
  }

  .menu-icon--close-x {
    &::before {
      transform: rotate(45deg) scaleX(1.25);
    }

    .menu-icon__middle {
      opacity: 0;
      transform: scaleX(0);
    }

    &::after {
      transform: rotate(-45deg) scaleX(1.25) translateY(1px);
    }
  }

  .hero {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 50% 50%;

    h1 {
      color: #fff;
    }

    h5 {
      color: hsl(206, 76%, 95%);
      letter-spacing: 0.025em;
      margin-bottom: 50px;
      font-weight: normal;
    }

    p {
      color: #fff;
      line-height: 1.75;
      width: 80%;
    }

    .left {
      border-right: 1px solid rgba(255, 255, 255, 0.3);
    }

    .right {
      overflow: hidden;
      padding: 0 50px;

      .app {
        .search {
          display: grid;
          grid-template-columns: auto 50px;

          input[type="text"] {
            background: rgba(255, 255, 255, 0.05);
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            border-left: 1px solid rgba(255, 255, 255, 0.4);
            border-top: 1px solid rgba(255, 255, 255, 0.4);
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);
            border-right: transparent;
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
            color: #fff;
            outline: none;

            &::-webkit-input-placeholder {
              color: rgba(255, 255, 255, 0.6);
            }

            &::-moz-placeholder {
              color: rgba(255, 255, 255, 0.6);
            }

            &:-ms-input-placeholder {
              color: rgba(255, 255, 255, 0.6);
            }

            &::-ms-input-placeholder {
              color: rgba(255, 255, 255, 0.6);
            }

            &::placeholder {
              color: rgba(255, 255, 255, 0.6);
            }
          }

          button {
            background: rgba(255, 255, 255, 0.05);
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            border-right: 1px solid rgba(255, 255, 255, 0.4);
            border-top: 1px solid rgba(255, 255, 255, 0.4);
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);
            border-left: transparent;
            width: 100%;
            box-sizing: border-box;
            color: rgba(255, 255, 255, 0.8);
            cursor: pointer;
          }
        }

        .debug {
          font-size: 14px;
          color: rgba(255, 255, 255, 0.6);
          margin: 10px 0;
          line-height: 1.5;

          a {
            color: rgba(255, 255, 255, 0.9);
          }
        }

        .cards {
          display: flex;
          flex-wrap: wrap;

          .card {
            height: 230px;
            width: 150px;
            margin: 10px;
            border-radius: 8px;
            background: #fff;
            overflow: hidden;

            &__image {
              height: 190px;
              width: 100%;

              img {
                height: 100%;
                width: 100%;
                -o-object-fit: cover;
                object-fit: cover;
              }
            }

            &__name {
              height: 40px;
              width: 100%;
              padding: 0 20px;
              box-sizing: border-box;

              display: flex;
              justify-content: center;
              align-items: center;

              font-size: 14px;
              color: @color-black;
              font-weight: bold;

              span {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }
          }
        }
      }
    }

    &.page {
      display: flex;
      justify-content: center;
      align-items: center;

      .left {
        border: none;
        width: 60%;
      }
    }
  }

  .available-wrappers {
    margin-top: 40px;

    a {
      color: #fff;
      font-weight: bold;
      font-size: 14px;

      small {
        font-size: 12px;
        font-weight: normal;
      }
    }
  }
}

.patreon {
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  background: linear-gradient(to right, #f86754, lighten(#f86754, 10%));

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  color: #fff;

  a {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
  }
}

.open-source {
  margin: 100px 0;
  padding: 50px 100px;
  text-align: center;

  width: 60%;

  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    width: 70%;
    text-align: center;
  }
}

.api {
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 700px;

  .left,
  .right {
    padding: 0 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .left {
    background: @color-primary;

    h2,
    p {
      color: #fff;
    }
  }

  .right {
    position: relative;
    background: @color-primary-shade;

    .composer {
      display: flex;
      flex-direction: row;
      align-items: center;

      &__require {
        padding: 15px;
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.03);
        color: rgba(0, 0, 0, 0.7);
        font-weight: bold;
      }

      &__info {
        margin-left: 10px;

        a {
          color: @color-black;
        }
      }
    }

    .contributors {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      padding: 20px;
      box-sizing: border-box;

      display: flex;
      flex-direction: column;
      align-items: flex-end;

      h6 {
        letter-spacing: 0.06em;
        margin-bottom: 10px;
      }

      &__list {
        a {
          height: 40px;
          width: 40px;
          display: inline-block;
          border-radius: 50%;
          overflow: hidden;

          img {
            height: 100%;
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
          }
        }
      }
    }
  }
}

.wrappers {
  padding: 50px 100px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .info,
  .contribution {
    margin: 100px 0;
    text-align: center;

    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contribution {
    width: 40%;

    p {
      line-height: 1.2;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    .wrapper {
      height: 200px;
      width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 10px;

      &.invert {
        h4,
        small,
        span,
        strong {
          color: #343434;
        }
      }

      h4,
      small,
      span,
      strong {
        color: #fff;
      }

      small {
        color: rgb(200, 200, 200);
        span {
          color: #fff;
        }
      }
    }
  }

  p {
    width: 70%;
    text-align: center;
  }
}

section.showcase {
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 700px;
  padding: 0;
  background: @color-primary-shade;

  .left,
  .right {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .left {
    background: @color-primary-shade;
    padding: 0 100px;

    .buttons {
      .button {
        padding: 0 30px;

        .button__icon {
          margin-left: 20px;

          svg {
            margin-top: 3px;
            width: 40px;
            transition: all 0.5s ease;
          }
        }

        &:hover {
          .button__icon svg {
            transform: translateX(10px);
          }
        }
      }
    }
  }

  .right {
    position: relative;

    .attribution {
      position: absolute;
      bottom: 0;
      left: 0;
      width: auto;
      padding: 10px 20px;
      color: @color-black;
      background: rgba(255, 255, 255, 0.5);
    }

    img {
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
}

.discord {
  padding: 200px 0;
  background: linear-gradient(to right, @color-primary-dark, @color-primary);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

  h2,
  p {
    color: #fff;
  }

  p {
    width: 70%;
    text-align: center;
  }
}

#backers {
  flex-direction: column;
}

.backers {
  margin: 100px 0;
  padding: 50px 100px;

  flex-direction: column;

  &__about {
    text-align: center;

    width: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      width: 70%;
      text-align: center;
    }
  }

  &__people {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    text-align: center;

    p {
      font-size: 25px;

      span {
        margin: 0 0.5em;
      }
    }
  }
}

footer {
  background: @color-primary-shade;
  padding: 30px 50px;

  display: grid;
  grid-template-columns: auto auto;

  .right {
    text-align: right;
  }
}

.showcase-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px;

  background: @color-primary-shade;

  .item {
    height: auto;
    width: 300px;
    margin: 10px;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;

    display: grid;
    grid-template-rows: 200px 200px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);

    position: relative;

    &.add {
      box-shadow: none;
      border: 2px solid rgba(0, 0, 0, 0.1);
      background: transparent;

      &::before {
        background: transparent;
        color: @color-black;
        content: "+";
        font-size: 50px;
        opacity: 0.7;
        transition: opacity 0.25s ease;
      }

      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }

    &:hover {
      &::before {
        opacity: 0.8;
      }
    }

    &::before {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(-45deg, @color-primary-dark, @color-primary);
      content: "View";

      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: 5px;
      text-transform: uppercase;
      color: #fff;
      opacity: 0;
      transition: opacity 0.25s ease;
    }

    img {
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      background-color: #fff;
    }

    div {
      background: #fff;
      height: auto;
      text-align: center;
      padding: 20px 30px;
      box-sizing: border-box;
      overflow: hidden;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h6 {
        font-size: 16px;
      }

      p {
        font-size: 12px;
        line-height: 1.5;
        overflow: hidden;
      }
    }
  }
}

.faqs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 100px;

  h3 {
    margin-top: 50px;
    line-height: 2;
  }
}

.sponsor {
  background: #eff4ff;
  padding: 50px 100px;
  display: grid;
  grid-template-columns: 300px 1fr;

  img {
    max-width: 300px;
    width: 300px;
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    span {
      font-size: 12px;
      letter-spacing: 2px;
      color: fadeout(black, 20%);
    }
  }

  .right {
    padding-left: 50px;
  }
}


html {
  -webkit-scroll-behavior: smooth;
  -ms-scroll-behavior: smooth;
  -mos-scroll-behavior: smooth;
  -o-scroll-behavior: smooth;
  scroll-behavior: smooth;
}
#scrollyY {
  opacity: 0;
  background-color: @color-primary;
  border-radius: 5px;
  bottom: 50px;
  position: fixed;
  right: 20px;
  z-index: 99;
  -webkit-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  i {
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    padding: 5px 10px;
  }
  &:hover {
    bottom: 53px;
  }
}
