header {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, @color-primary-dark, @color-primary);
    box-sizing: border-box;
    padding: 0 100px;

    display: grid;
    grid-template-rows: 200px auto;
    overflow: hidden;

    .page {
        display: flex;
        flex-direction: column;
    }

    .menu_mobile {
        width: 100%;
        height: auto;
        min-height: 350px;
        padding: 50px 0;
        box-sizing: border-box;
        display: none;

        &.show {
            display: block;
        }

        &__items {
            a {
                display: block;
                width: 100%;
                height: 50px;
                color: @color-link-secondary;
                font-size: 18px;
                margin-right: 60px;

                display: flex;
                align-items: center;
                justify-content: flex-end;
                font-size: 24px;

                &.active {
                    font-weight: bold;
                    padding-bottom: 5px;
                    border-bottom: 2px dashed #fff;
                }
            }
        }

        &__icons {
            width: 100%;
            padding: 50px 0;
            display: flex;
            flex-direction: row-reverse;

            a {
                color: @color-link-secondary;
                font-size: 25px;
                margin-left: 60px;
            }
        }
    }

    .menu {
        height: 200px;
        display: grid;
        grid-template-columns: auto auto;

        &__items {
            display: flex;
            align-items: center;
            
            a {
                color: @color-link-secondary;
                font-size: 18px;
                margin-right: 60px;

                &.active {
                    font-weight: bold;
                    padding-bottom: 5px;
                    border-bottom: 2px dashed #fff;
                }
            }
        }

        &__logo {
            height: 80px;
            width: 80px;
            
            img {
                height: 100%;
                width: 100%;
            }
        }

        &__icons {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            a {
                color: @color-link-secondary;
                font-size: 25px;
                margin-left: 60px;
            }

            button {
                background: none;
                border: none;
                font-size: 20px;
                color: @color-background;
                cursor: pointer;
                text-transform: uppercase;
                letter-spacing: 5px;
                padding: 20px 0;
                outline: none;
                border-radius: 7px;
                display: none;

                &:active {
                    background: rgba(0,0,0,.08);
                }
            }
        }
    }

    .hero {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 50% 50%;

        h1 {
            color: #fff;
        }

        h5 {
            color: hsla(206, 76%, 95%);
            letter-spacing: 0.025em;
            margin-bottom: 50px;
            font-weight: normal;
        }

        p {
            color: #fff;
            line-height: 1.75;
            width: 80%;
        }

        .left {
            border-right: 1px solid rgba(255,255,255,.3);
        }

        .right {
            overflow: hidden;
            padding: 0 50px;

            .app {

                .search {
                    display: grid;
                    grid-template-columns: auto 50px;

                    input[type=text] {
                        background: rgba(255,255,255,.05);
                        border-top-left-radius: 8px;
                        border-bottom-left-radius: 8px;
                        border-left: 1px solid rgba(255,255,255,.4);
                        border-top: 1px solid rgba(255,255,255,.4);
                        border-bottom: 1px solid rgba(255,255,255,.4);
                        border-right: transparent;
                        width: 100%;
                        padding: 20px;
                        box-sizing: border-box;
                        color: #fff;
    
                        &::placeholder {
                            color: rgba(255,255,255,.6);
                        }
                    }

                    button {
                        background: rgba(255,255,255,.05);
                        border-top-right-radius: 8px;
                        border-bottom-right-radius: 8px;
                        border-right: 1px solid rgba(255,255,255,.4);
                        border-top: 1px solid rgba(255,255,255,.4);
                        border-bottom: 1px solid rgba(255,255,255,.4);
                        border-left: transparent;
                        width: 100%;
                        box-sizing: border-box;
                        color: rgba(255,255,255,.8);
                        cursor: pointer;
                    }
                }

                .debug {
                    font-size: 14px;
                    color: rgba(255,255,255,.6);
                    margin: 10px 0;

                    a {
                        color: rgba(255,255,255,.9);
                    }
                }

                .cards {
                    display: flex;
                    flex-wrap: wrap;

                    .card {
                        height: 230px;
                        width: 150px;
                        margin: 10px;
                        border-radius: 8px;
                        background: #fff;
                        overflow: hidden;

                        &__image {
                            height: 190px;
                            width: 100%;

                            img {
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                            }
                        }

                        &__name {
                            height: 40px;
                            width: 100%;
                            padding: 0 20px;
                            box-sizing: border-box;

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            font-size: 14px;
                            color: @color-black;
                            font-weight: bold;
                            
                            span {
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }
                        }
                    }
                }
            }
        }

        &.page {
            display: flex;
            justify-content: center;
            align-items: center;

            .left {
                border: none;
                width: 60%;
            }
        }
    }

    .available-wrappers {
        margin-top: 40px;

        a {
            color: #fff;
            font-weight: bold;
            font-size: 14px;

            small {
                font-size: 12px;
                font-weight: normal;
            }
        }
    }

}

.open-source {
    margin: 100px 0;
    padding: 50px 100px;
    text-align: center;

    width: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        width: 70%;
        text-align: center;
    }
}

.api {
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 700px;

    .left, .right {
        padding: 0 100px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .left {
        background: @color-primary;

        h2, p {
            color: #fff;
        }
    }

    .right {
        position: relative;
        background: @color-primary-shade;

        .composer {
            display: flex;
            flex-direction: row;
            align-items: center;

            &__require {
                padding: 15px;
                border-radius: 8px;
                background: rgba(0,0,0,.03);
                color: rgba(0,0,0,.7);
                font-weight: bold;
            }

            &__info {
                margin-left: 10px;

                a {
                    color: @color-black;
                }
            }
        }

        .contributors {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            padding: 20px;
            box-sizing: border-box;

            display: flex;
            flex-direction: column;
            align-items: flex-end;

            h6 {
                letter-spacing: 0.06em;
                margin-bottom: 10px;
            }


            &__list {

                a {
                    height: 40px;
                    width: 40px;
                    display: inline-block;
                    border-radius: 50%;
                    overflow: hidden;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

.wrappers {
    padding: 50px 100px;
    display: flex;
    align-items: center;
    flex-direction: column;


    .info, .contribution {
        margin: 100px 0;
        text-align: center;

        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contribution {
        width: 40%;
        
        p {
            line-height: 1.2;
        }
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        .wrapper {
            height: 200px;
            width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 10px;
            
            &.invert {
                h4, small, span, strong {
                    color: #343434;
                }
            }

            h4, small, span, strong {
                color: #fff;
            }

            small {
                color: rgb(200,200,200);
                span {
                    color: #fff;
                }
            }
        }
    }


    p {
        width: 70%;
        text-align: center;
    }
}

section.showcase {
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 700px;
    padding: 0;

    .left, .right {
        padding: 0 100px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .left {
        background: @color-primary-shade;

        .buttons {
            .button {
                padding: 0 30px;
                
                .button__icon {
                    margin-left: 20px;

                    svg {
                        margin-top: 3px;
                        width: 40px;
                        transition: all 0.5s ease;
                    }
                }

                &:hover {
                    .button__icon svg {
                        transform: translateX(10px);
                    }
                }
            }
        }
    }

    .right {
        position: relative;
        background: url(../images/taiyaki.jpg) no-repeat center center;   
        background-size: cover;

        .attribution {
            position: absolute;
            bottom: 0; left: 0;
            width: auto;
            padding: 10px 20px;
            color: @color-black;
            background: rgba(255,255,255,.5);
        }
    }
}

.discord {
    padding: 200px 0;
    background: linear-gradient(to right, @color-primary-dark, @color-primary);

    display: flex;
    flex-direction: column;
    align-items: center;

    h2, p {
        color: #fff;
    }

    p {
        width: 70%;
        text-align: center;
    }
}

.sponsors {
    padding: 100px;

    p {
        width: 80%;
    }
}

footer {
    background: @color-primary-shade;
    padding: 30px 50px;

    display: grid;
    grid-template-columns: auto auto;

    .right {
        text-align: right;
    }
}

.showcase-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px;

    background: @color-primary-shade;


    .item {
        height: auto;
        width: 300px;
        margin: 10px;
        border-radius: 8px;
        overflow: hidden;

        display: grid;
        grid-template-rows: 200px 200px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);

        position: relative;

        &.add {
            box-shadow: none;
            border: 2px solid rgba(0,0,0,.1);

            &::before {
                opacity: 1;
                background: transparent;
                color: @color-black;
                content: '+';
                font-size: 50px;
                opacity: .7;
            }
        }

        &:hover {
            &::before {
                opacity: .8;
            }
        }

        &::before {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0; left: 0;
            background: linear-gradient(-45deg, @color-primary-dark, @color-primary);
            content: 'View';

            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: 5px;
            text-transform: uppercase;
            color: #fff;
            opacity: 0;
            transition: opacity 0.25s ease;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        div {
            background: #fff;
            height: auto;
            text-align: center;
            padding: 20px 30px;
            box-sizing: border-box;
            overflow: hidden;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            h6 {
                font-size: 16px;
            }

            p {
                font-size: 12px;
                line-height: 1.5;
                overflow: hidden;
            }
        }
    }
}

.faqs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 100px;


    h3 {
        margin-top: 50px;
        line-height: 2;
    }
}